pre,
textarea {
    overflow: auto
}

a:focus,
a:hover,
pre {
    background-color: rgba(0, 0, 0, .05)
}

a:active,
a:focus,
a:hover {
    border-color: currentColor
}

.feature,
.home .social,
footer {
    text-align: center
}

@-ms-viewport {
    width: device-width;
    user-zoom: fixed;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1
}

@-o-viewport {
    width: device-width;
    user-zoom: fixed;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1
}

@viewport {
    width: device-width;
    user-zoom: fixed;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1
}

@viewport {
    width: device-width;
    user-zoom: fixed;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 1
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

*,
:after,
:before {
    box-sizing: inherit
}

* {
    -webkit-tap-highlight-color: transparent
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

b,
code,
h1,
h2,
h3,
h4,
strong {
    font-weight: 700
}

blockquote,
em,
i {
    font-style: italic
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

[hidden] {
    display: none
}

a {
    background: 0 0;
    cursor: pointer;
    color: #5780d3;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

a:active,
a:focus,
a:hover {
    outline: 0
}

img {
    border: 0;
    max-width: 100%;
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

svg:not[class] {
    fill: currentColor
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1em;
    margin: 1em 0
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

blockquote,
q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

a:active {
    background-color: rgba(0, 0, 0, .1)
}

h1,
h2,
h3,
h4 {
    margin-top: .2em;
    margin-bottom: .5em
}

h1 {
    font-size: 2.4em;
    font-weight: 300
}

h2 {
    font-size: 1.8em
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1em
}

p {
    margin-bottom: 1.2em
}

ol,
ul {
    margin: 1em 0 1em 2em
}

code {
    font-family: monospace;
    line-height: 1.2em
}

blockquote {
    font-size: 1.5em;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 2px solid rgba(0, 0, 0, .1)
}

hr {
    border: 0;
    height: 1px;
    margin: 1em 0;
    background-color: currentColor;
    opacity: .3
}

.home,
.home .content,
body,
html {
    height: 100%
}

body {
    font-family: Lato, "Open Sans", MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.624
}

footer {
    padding: 1em 2em;
    background-color: #f7f7f7;
    font-size: .9em
}

/*Below Unmodified*/


html,
body,
main {
  height: 100%;
  box-sizing:border-box;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-ms-touch-action:manipulation;
	touch-action:manipulation
}

::-moz-selection {
  background: #34495e;
  color: #fff;
}

::selection {
  background: #34495e;
  color: #fff;
}

.jumbotron {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.photo-cover {
  background: #34495e url(../img/bg.png) no-repeat center center/cover;
  height: 100%;
  position: relative;
}

.background-primary {
  background: #34495e;
}

.background-secondary {
  background: #2c3e50;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */
.transparent {
  background: transparent;
}

.navbar-inverse {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.thumbnail {
  cursor: pointer;
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.full-screen {
  background: #eee;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}

.jumbotron > .col-md-6{
	color:#fff !important;
}