
ul.topnav {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  margin: 0 auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #7b7b7b;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {color: #ffffff;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav{background-color: #2D2D7C;   width: 100%;}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav{background-color: #2D2D7C;  width: 100%;}
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}