@font-face {
    font-family: 'SEGOEUIL';
    src: url('../fonts/SegoeUI/SegoeUIRegular.eot');
    src: local('SEGOEUIL'), url('../fonts/SegoeUI/SegoeUIRegular.woff') format('woff'),url('../fonts/SegoeUI/SegoeUIRegular.ttf') format('truetype');
}


// Apply Golden Ratio to font sizes and line height based on paragraph font size.
