// Colors

// Font Colors
$mainFontColor: #141823;
$mainFontColorInv: #fff;

$secondaryFontColor: #767676;
$secondaryFontColorInv: #CAD5F6;

// Link Colors
$hyperLinkColor: #4078c0;

/// Main font colors examples: 
///    Quora: #333 
///        on #fff
///    facebook: #141823 
///        on #fff
///    twitter: #292f33 
///        on #fff
///    linkedin: #333 
///        on #fff
///

//  Color Combinations
$mainGraditentTopColor : #0f2158; //#F2F8CD
$mainGraditentBottomColor : #2149c6; //#7DECE1
